@import url('./base.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--p-surface-100);
  color: var(--p-text-color);
  min-height: 100vh;
}

body:where(.dark, .dark *) {
  background-color: var(--p-surface-950);
  color: var(--p-surface-50);
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--p-primary-color);
  border-radius: 5px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
